html {
    font-size: 12px;    
    font-family: 'Helvetica', 'Roboto', 'Arial', sans-serif;
    background-color: #0f1e2c;    
}

body {
    width:95%;
    max-width:1000px;
    min-width:480px;
    height:auto;
    margin: 10px auto;
    background-color: #264C72;
    padding: 10px;    
    border-radius: 10px;    
}

header {
    border-radius: 10px;
    height:auto;
    width:auto;
    margin: 0;
    background-color:red;
    background-image:url('../images/BlueGradient.png');
    background-position: center;    
    overflow: hidden;
}


#flex-wrapper{    
    display:flex;    
}

main {
    margin:10px auto;    
    width: 100%;    
    display:block;
}

article {
    border-radius: 10px;
    background-color:#f7f2ed;
    padding:10px;
}

nav {
    margin:0 10px 0 0;
    padding:10px;
    width:400px;
    display:block;    
    /*background-color:#f7f2ed;*/
}

footer {
    margin:0;
}

h1 {
    margin: 0;    
    color: #00539F;    
    font-size: 60px;
    text-align: center;    
}

img {
    display:block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.sidebar-container {
    border-radius: 10px;
    background-color:#f7f2ed;
    width:100%;
    height:auto%;
    margin-bottom: 10px;
    padding: 10px;
    display: block;    
}
.sidebar-container p, h3 {
    margin:0;    
    font-size: 12px;    
}
.sidebar-container ul,li {
    font-size: 13px;
    list-style:disc inside;
    margin:0;
    padding:0;
    color: grey;
}

a {
    text-decoration: none;
    color:black;
}

a:link {
   
}

a:visited {
   color:grey;
}

a:focus {
    text-decoration:underline;
}

a:hover {
    text-decoration:underline;
}

a:active {

}